.menu-categories-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
  }
  
  .menu-category {
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .menu-category.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .menu-category:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .item-card img {
    height: 100%;
    object-fit: cover;
  }
  
  .item-card {
    border-radius: 15px;
  }
  