/* Navbar styles */
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.collapse.show {
  display: block !important;
}

.navbar-nav {
  flex-direction: column;
  align-items: flex-start;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-link {
  font-size: 16px;
}
/* HeroSection.css */

/* الحاوية الرئيسية */
.hero-container {
  position: relative;
  height: 100vh; /* ملء الشاشة بالكامل */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* محاذاة المحتوى إلى الأسفل */
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  background-image: url('../images/moresko.jpg'); /* الصورة الافتراضية */
}

/* محتوى النص */
.hero-content {
  position: relative;
  z-index: 2; /* لضمان ظهور النص فوق الخلفية */
  max-width: 600px;
  padding: 20px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7); /* تحسين ظهور النص */
  margin-bottom: 40px; /* الزر يبتعد عن الحافة السفلية بمقدار 40px */
}

.btn-hero {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-hero:hover {
  background-color: #e64a19;
}

/* الصور بناءً على حجم الشاشة */
@media (max-width: 768px) {
  .hero-container {
    background-image: url('../images/PP.png'); /* صورة الهواتف المحمولة */
    background-size: contain; /* لضمان عرض الصورة بالكامل على الهواتف */
    background-repeat: no-repeat; /* منع تكرار الصورة */
    background-position: center;
  }

  .hero-content h1 {
    font-size: 2rem; /* تصغير الخط للشاشات الصغيرة */
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}
